{% extends "index.html" %}

{% block content %}
<div class="alert alert-dark" role="alert"><b>
    Добро пожаловать на DarkMail - сайт, который не собирает ваши личные данные и не нарушает вашу конфиденциальность. 
    Приятного использования!
    Примечание: повторная регистрация в той же сессии браузера запрещена и будет перенаправлять вас обратно в меню</b>
  </div>
<a type="button" class="btn btn-dark btn-lg btn-block" href="/register">Зарегистрироваться</a>
<a type="button" class="btn btn-dark btn-lg btn-block" href="/login">Войти</a>
{% endblock %}