{% extends "index.html "%}
{% block content%}

{% if show == 1 %}
<a type="button" class="btn btn-dark btn-lg btn-block" href="/send">Написать сообщение</a>
<a type="button" class="btn btn-dark btn-lg btn-block" href="/send_file_to">Отправить файл</a>
<a type="button" class="btn btn-dark btn-lg btn-block" href="/sended">Отправленные сообщения</a>
<a type="button" class="btn btn-dark btn-lg btn-block" href="/myinbox">Полученные сообщения</a>

{% for file in data %}
<a type="button" class="btn btn-dark btn-lg btn-block" href={{file[0]}}>Файл от: {{file[1]}} от {{file[2]}}</a>  
{% endfor %}

{% endif %}

{% if show == 0 %}
<div class="alert alert-danger" role="alert">
    Вы не авторизованны.
</div>
{% endif %}
{% endblock %}